---
import BaseLayout from "../layouts/BaseLayout.astro";
import { PostBlock } from "../components/PostBlock";

const allPosts = await Astro.glob("./posts/*.mdx");
---

<BaseLayout pageTitle="Lynn's Blog">
  <div class="container">
    {
      allPosts.map((post) => (
        <PostBlock
          title={post.frontmatter.title}
          content={post.frontmatter.description}
          url={post.url}
          imageUrl={post.frontmatter.image.url}
          imageAlt={post.frontmatter.image.alt}
          tags={post.frontmatter.tags}
        />
      ))
    }
  </div>

  <style>
    .container {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding: 1rem 5rem;
    }
  </style>
</BaseLayout>
